RewriteEngine On


RewriteRule ^about$ about.html
RewriteRule ^contact$ contact.html
RewriteRule ^classes$ classes.html
RewriteRule ^index$ index.html
RewriteRule ^principles$ principles.html
RewriteRule ^private_lessons$ private_lessons.html