    
    <div class="page_content">
        
        <h2>About me</h2>
        
        <p>
        I began practicing yoga 14 years ago as a result of a back injury. I started in the Iyengar tradition, left South Africa for an opportunity to live and work in Amsterdam, where I began a second teacher training programme, grounded in the principles of alignment and <%= link_to "The Vital Principles", "principles" %> as described and taught to me by <%= link_to "Dona Holleman", "http://www.donaholleman.com" %> and <%= link_to "Teresa Caldas", "http://www.studioasana.com" %>.
        </p>
        
        <p>
            I obtained the Classical Yoga Teachers Diploma in June of 2004. This diploma is based on BKS Iyengar's <span class="book-title">Light on Yoga</span> and the Vital Principles, as written down by Dona Holleman in her book: <span class="book-title">Dancing the Body of Light</span>.  Our course strongly focused on self practice, correct methods of assisting and correction, advanced practice of all Asanas, Pranayama techniques, Bandhas and Kriyas and a thorough understanding of anatomy and the historical texts of Patanjali.
        </p>
        
    </div>        