    <div class="front_page_blurb">
        <br/>    
        <p>
            My classes, while always based on good principles of alignment, centered in the hara, moving with the breath and tapping into the energy body, can be classified as follows:
        </p>

        <ul>
            <li>Beginners basics: Bandhas, Kriyas, Asanas, Pranayama</li>
            <li>Classic Flow – vinyasa yoga: Linking postures through breath and correct movements</li>
            <li>Intermediate – with back bending and balancings: integrity of the spine, pada and hasta bandha, playing with gravity</li>
            <li>Advanced / teacher level workshops for moving deeper into assisting and advanced practice</li>
            <li>Guided Intensive self practice sessions: learning programmes for self practice and becoming independent in yoga</li>
        </ul>
        

        
    </div>        
        