    <div class="page_content">
        
        <h2>Class schedule</h2>
        
        <table>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            <tr>
                <td></td>
                <td>10h00<br/>Gentle</td>
                <td></td>
                <td></td>
                <td>08h45<br/>Gentle</td>
            </tr>
            
            <tr>
                <td>&nbsp;<br/>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td>12h30<br/>Gentle</td>
                <td></td>
                <td>12h30<br/>Gentle</td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="location-hhh">17h00<br/>General</td>
                <td></td>
            </tr>
            
            <tr>
                <td>17h45<br/>General</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </table>
        
        <h3>Locations</h3>

        <div class="locations">
            <div class="location">
                <div class="location-key location-oranjezicht"></div>
                <div class="location-text">
                    Oranjezicht Yoga Centre: 7 Cairnmount Ave, Oranjezicht
                    <br/>
                    (<%= link_to "www.yogacentre.co.za", "http://www.yogacentre.co.za" %>). Note that there are other classes at this centre run by other teachers; this schedule only reflects my own.
                </div>
                        
            </div>
        
            <div class="location">
                <div class="location-key location-hhh"></div>
                <div class="location-text">
                    House of Holistic Health, 70 Barnet Str Gardens 
                </div>
            </div>   
        </div>

        <h3>General</h3>
        <p>
            Accessible for all levels, learn how to practice the art and science of yoga, incorporating breath work (pranayama), some sitting and asana (postures) practice. Each class will have an element of vinyasa (flow linking one pose with another) and each week the emphasis will shift.
        </p>
        
        <h3>Gentle</h3>
        <p>
            A lighter class with soft stretching, strengthening and relaxation exercises. Ideal for beginners, those seeking therapeutic practice after injury and for the more mature practitioner seeking a non-competitive easy and fun environment.
        </p>
        
        
        <h3>Flow</h3> 
        <p>
            An hour-long dynamic yoga practice, linking postures and breath in movement. Learn to move with precision and with correct alignment. 
        </p>

        
        <h3>Cost</h3> 
        <ul>
            <li>Drop in R80</li>
            <li>R300 for 5 classes (valid for 2 months)</li>
            <li>R500 for 10 classes (valid for 3 months)</li>
        </ul>
        
        
        
        
        
    </div>