    <div class="page_content contact">
          
        mobile: 082 309 4970
        <br/>
        email: <%= link_to "jane@centeredyoga.co.za", "mailto:jane@centeredyoga.co.za" %>
        
    </div>            