
    <%= image_tag "brand/yoga_chick_460.jpg", :class => "front_page" %>
    
    <div class="front_page_blurb">
        
        Hi
        <br/>
        <br/>
        I'm Jane and I teach Centered Yoga, based on <%= link_to "The Vital Principles", :action => :principles %>, in Cape Town.
        <br/>
        <br/>
        I teach several groups (check out my <%= link_to "class schedule", "classes" %>) but also teach 
        <%= link_to "private clients", "private_lessons"%>. 
        <br/>                                                                                          
        <br/>        
        I also have experience in teaching pre-natal and medical classes.
        <br/>
        <br/>
        
        
    </div>