
    <%= image_tag "brand/yoga_chick_transparent.png", :class => "front_page" %>
    
    <div class="front_page_blurb">
        
        Hi
        <br/>
        <br/>
        I'm Jane and I teach Centered Yoga, based on <%= link_to "The Vital Principles", :action => :principles %>
        <br/>
        <br/>
        I teach several groups (checkout my <%= link_to "class schedule", "classes" %>) but also teach private clients. 
        <br/>        
        <br/>        
        I also have experience in teaching pre-natal and medical classes.
        <br/>
        <br/>
        
        
    </div>