    <div class="page_content">
        
        <h2>The Vital Principles</h2>
    
        <ul class="principles">
            
            <li>
                <h3 class="inline_heading">Relax the body</h3>  With an exhalation relax the body. Release the tension. With the next inhalation look at the body from within and relax. The body should be stable and quiet. Don’t try to be straight, but do not collapse the frame of the skeleton. Just relax from within. 
            </li>
            
            <li>
                <h3 class="inline_heading">Quiet the mind </h3> Whether we are concentrated, dispersed or nervous; happy sad or angry; afraid, tired or energetic, the eyes, at the back of the head will catch the inner mood, the state of mind. We observe ourselves and practice from an inner silence. Empty mind intensifies itself in practice. 
            </li>
            
            <li>
                <h3 class="inline_heading">Intent</h3> Now that the mind is stable and quiet in Sitting, Pranayama or Asana the mind reflects itself in the practice; the body awaits the practice; the heart embraces the practice with all its might. With each breath there is an intensification of intent and a sharpening of its direction. By visualizing ourselves sitting, breathing or moving, or by imagining another person in that practice we devote ourselves wholly to it. With each pose we reaffirm our intent. 
            </li>
            
            <li>
                <h3 class="inline_heading">Rooting/sinking</h3>  Let the weight of the body sink into the place touching the ground. The weight pressing down, feeling the power of that movement in the whole body. As rooting is mastered the body becomes light and moves without effort.
            </li>

            <li>
                <h3 class="inline_heading">Connecting</h3>  Always be conscious of two opposite directions that are connected to each other. To go up, go down. To go forwards shift to the back. Whishing to expand comes from the core. The first direction is the arrow, the second the bow; what binds them together is connecting. Like a chain. The more each part is distinct the more the connection between them – the body moves in oneness.
            </li>

            <li>
                <h3 class="inline_heading">Awareness of breath </h3> Be aware of inhaling and exhaling. Connect to the world and give yourself to the earth. Inhale elongate, exhale root. Inhale widen exhale steady and connect. At times the breath is sweet and soft, sometimes deep and long. The breath is always present. 
            </li>
            
            <li><h3 class="inline_heading">Elongating expanding widening</h3>  When there is rooting while exhaling, inhaling brings about elongation and widening. Or perhaps the elongating and widening, that occur as a result of rooting, allow for inhalation. When elongating and widening occur there is no sagging or friction in the joints, no effort in the muscles. The skeleton shields its coverings; the coverings create space for the skeleton. Thus the body moves about – relaxed and connected – one.
            </li>
        </ul>
            
        <p>
        All the principles coexist and need to be applied at all times, yet it is difficult to oversee their functions simultaneously. In order to deepen our understanding of the principles, we need to choose one that attracts us and works with it constantly until it is mastered. Many times we can work with one principle for a few years until they become our second nature. But it is only when all the principals coexist together that the practice is whole. Therefore when we practice and feel 'stuck' we need to look carefully and find which principal is neglected and revive it.
        </p>
        
        <p> 
        The principals are an outcome of many years of practice. When this practice was done (and still is) daily, carefully, with full awareness, with a lot of repetition and attention, these are the conclusion that Dona Holleman and Orit Sen-Gupta came to and described in their book Dancing the body of light.
        </p> 
        
    </div>            