
    <div class="page_content">
        
        <h2>Private lessons</h2>
    
        <p>
            These can be arranged either at the studio or in your home. The fee is R300 for an hour for the
            first person, thereafter add R50 for each person. (So if you were to get 2 or 3 friends together
            it would make a private lesson more affordable.)
        
        </p>

    </div>