
    <div class="page_content">
        
        <h2>Private lessons</h2>
    
        <p>
            These can be arranged at one of my studios in either Hout Bay, Oranjezicht or Vredehoek or, in your home.

        </p>
        <p>
            The fees are R450 for 1 person, R250 per person for 2 people and R185 per person for 3 people, for one hour.
        </p>

    </div>