
    <div class="page_content">
        
        <h2>Private lessons</h2>
    
        <p>
            These can be arranged either at the studio or in your home. The fees are R350 for 1 person, R400 for 2 people and R450 for 3 people, for one hour.
        </p>

    </div>